header {
    max-width: 1520px;
    width: 100%;
    height: 80px;
    background: rgba(0, 0, 0, 0.20);
    padding: 29px;
    position: fixed;
    z-index: 100;
   
}
body {
    background-color: rgb(231, 231, 187);
}

.hederi {
    max-width: 504px;
}


h1 {
    color: white;
    font-family: League Spartan;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: inline-block;
}
a {
    color: white;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 20px;
    
}
.xaz {
    margin-left: 20px;
}
.headeri {
    max-width: 1300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: auto;

}
.fa-facebook {

    color: white;
    font-size: 20px;

}
.fa-twitter {
 
    color: white;
    font-size: 20px;


}
.fa-youtube {
    
    color: white;
    font-size: 20px;


}
.fa-pinterest {
    color: white;
    font-size: 20px;

}
.xazi {
    margin-left: 20px;
}
.fa-magnifying-glass {
    margin-left: 20px;
    color: white;
    font-size: 20px;

}
.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}
h4 {
    color: #495057;
    font-family: Lora;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 150px;
    margin-bottom: 85px;
}
.card {
    width: 310px;
    height: 565px;
    background-color: white;
    border-radius: 5px 5px 5px 5px;
}
.cardebi {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 150px;
    max-width: 1520px;
    width: 100%;
    
}
.bavshvoba {
    border-radius: 5px 5px 0px 0px;
}
.ciga {
    border-radius: 5px 5px 0px 0px;
}
.alb {
    border-radius: 5px 5px 0px 0px;
}
.bobi {
    border-radius: 5px 5px 0px 0px;
}
h5 {
    color: #495057;
    font-family: Lora;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    margin-top: 35px;
    margin-left: 20px;
}
h6 {
    color: #6C757D;
    font-family: Lora;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.fotobob {
    position: relative;
}
.textia {
    position: absolute;
    top: 55%;
    left: 10%;
    z-index: 200;
    
}
.textu {
    color: #ffffff;
    font-family: Lora;
    font-size: 50px;
    font-style: normal;
    font-weight: 1200;
    line-height: normal;
    margin: 0;
}
p {
    color: #E5E5E5;
    font-family: Lora;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    
}
.cardi {
    width: 640px;
    height: 350px;
    background-color: white;
    border-radius: 5px;
    position: relative;
    background-image: url(../images/satvale.png);
    background-size: contain;
    border-image-source: linear-gradient(rgba(128, 128, 128, 0.504),rgba(128, 128, 128, 0.5));
    border-image-slice: fill 1;
    
    
}
.cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 150px;
    
    
}
.satvale {
    border-radius: 5px;

}
.text {
    position: absolute;
    top: 70%;
    left: 7%;
}
.sat {
    color: #ffffff;
    font-family: Lora;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    margin: 0;
}
.sata {
    color: #ffffff;
    font-family: Lora;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; 
}
.la {
    background-image: url(../images/bob.jpg);
}
html {
    max-width: 1520px;
    width: 100%;
}
@media (max-width:1280px) {
    .container {
        margin: 0 auto;
    }
    .cardebi {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}
.container {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}
footer {
    max-width: 1520px;
    width: 100%;
    height: 400px;
    background: #212529;
    padding-top: 106px;
}
.futeri {
    max-width: 1000px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
}
.futertext {
    color: #FFF;
    font-family: Lora;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 18px;
}
.futertext1 {
    margin-bottom: 18px;
}
.ka {
    max-width: 800px;
    width: 100%;
    
}
.bio {
    color: #495057;
    font-family: Lora;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.kardebi {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.kards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.kard {
    width: 300px;
    height: 400px;
    background-color: rgb(244, 237, 195);
    border-radius: 5px;
}
.kardimg {
    border-radius: 5px 5px 0 0;
}
.albomsax {
    margin-left: 30px;
    margin-top: 10px;
    color: #495057;
    font-family: Lora;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;

}
@media (max-width:1250px) {
    .container {
        width: 90%;
    }
}